body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background: #031321;
    text-decoration: none;
}
.banner-container .banner-column a{
    position: relative;
    display: inline-block;
    color:#2196f3;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 36px;
    overflow: hidden;
    transition: 0.2s;
    padding: 100px 200px;
}
.banner-container .banner-column a:hover{
    color: #f2f3f5;
    background: #2196f3;
    font-weight: bolder;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3 , 0 0 80px #2196f3;
}

.banner-container a span{
    position: absolute;
    display: block;

} 
.banner-container a span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.banner-container a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.banner-container a span:nth-child(3){
    top:0;
    right: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.banner-container a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.banner-container a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.banner-container a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.banner-container a span:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.banner-container a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.navbar-section{
    background-color: #648baa;
}

.navbar-container{
    
}


.about-section{
    background-color: aquamarine;
}
#Education{
    padding: 20px 0;
}
#Education .redcolor{
    color:red;
    text-align: center;
}